<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="home.css">
    <title>Bagual</title>
</head>
<body>
    <main class="main">
        <h1>BAGUAL</h1>
        <a href="#grilla">

            <img src="/imgs/arrowdown.svg" alt="">
        </a>
    </main>
    <div id="grilla" class="grilla-menu">
        <div class="stock"> STOCK
        </div>
        <div class="aboutus">ABOUT US</div>
        <div class="contact">CONTACTO</div>
        <div class="login">LOG IN</div>
        <div class="singup">SING UP</div>
    </div>
</body>
</html>