{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Document</title>
</head>
<body>

    
        {% block content %}
        <main>
            {% for product in products %}
            <div class="product_card">

                <img src={{product.image_prod.url}} alt="">
                <p class="product">{{product}}</p>
                <p>${{product.precio_prod}}</p>
                <form action="{% url 'addCart' product.id %}">
                    {% csrf_token %}
                    <input type="number" name="cant" id="cant" min="1" max="10">
                    <button>
                        Comprar
                    </button>
                </form>
                {% if user.is_staff %}
                <form action="{% url 'delete_prod' product.nom_prod %}" method="POST">
                    {% csrf_token %}
                    <button>
                        Borrar
                    </button>
                </form>
                {% endif %}
            
                
                
            </div>
            {% endfor %}
            
        </main>
        {% endblock %}
   
    
</body>
</html>