{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Document</title>
</head>
<body>

    
        {% block content %}
        <main>
            {% for product in products %}
            
                
            <p class="product">{{product}}</p>
            <button>
                Comprar
            </button>
            {% if user.is_staff %}
            <form action="{% url 'delete_prod' product.nom_prod %}" method="POST">
                {% csrf_token %}
                <button>
                    Borrar
                </button>
            </form>
            {% endif %}
           
                
        
            {% endfor %}
            
        </main>
        {% endblock %}
   
    
</body>
</html>